### Extract Transform Load - The Movies Dataset

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import json

### import csv into DataFrame

In [2]:
movies_file = "Resources_new/movies.csv"
movies_df = pd.read_csv(movies_file)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [3]:
ratings_file = "resources_new/ratings.csv"
ratings_df = pd.read_csv(ratings_file)
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [4]:
# Transform timestamp into usable date time

from datetime import datetime

ratings_df.loc[:, 'timestamp'] = ratings_df.timestamp.apply(lambda x: pd.datetime.fromtimestamp(x).date())
ratings_df.head()

<ipython-input-4-560176fb30cc>:7: FutureWarning: The pandas.datetime class is deprecated and will be removed from pandas in a future version. Import from datetime module instead.
  ratings_df.loc[:, 'timestamp'] = ratings_df.timestamp.apply(lambda x: pd.datetime.fromtimestamp(x).date())

   userId  movieId  rating   timestamp
0       1        1     4.0  2000-07-30
1       1        3     4.0  2000-07-30
2       1        6     4.0  2000-07-30
3       1       47     5.0  2000-07-30
4       1       50     5.0  2000-07-30